.about-title {
  text-align: center;
}
.section-about {
  padding-bottom: 94px;
}

.about-item {
  display: block;
  position: relative;
}

.position::after {
  position: absolute;
  content: " ";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: var(--main-title-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  right: 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.position-desc::after {
  content: "ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ";
}
.position-mob::after {
  content: "МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ";
}
.position-disain::after {
  content: "ДИЗАЙНЕРСКИЕ РЕШЕНИЯ";
}
