.header__btn {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-btn-color);

  padding-top: 32px;
  padding-bottom: 32px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.hero-btn {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--logo-color);
  color: var(--main-title-color);
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  margin-top: auto;
  &:hover,
  &:focus {
    border: 1px solid var(--logo-color);
  }
}
